*,
*::before,
*::after{
    box-sizing:border-box;
}
:root {
    --ff-primary:"Indie Flower";
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.2rem;
}
html{
  height: 100%;
}
.title {
  text-align: left;
  font: var(--fs-h1) var(--ff-primary);
  padding-left: 5%;
  padding-top: 5%;
  line-height: 0;
}
.row {
  display: flex;
  text-align: center;
  font: var(--fs-h2) var(--ff-primary)
}

.column1 {
  flex: 40%;
  
}
.column2 {
  flex: 60%;
}
.abMe{
  font: var(--fs-body) var(--ff-primary);
  text-align: left;
  padding-left: 10%;
  line-height:2;
}
.gallery {
  display: flex;

}
  .col {
    flex: 33%;
  }
.im {
  padding:0;
  width:  60%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  :root{
    --fs-h1: 2.8em;
    --fs-h2: 1.8rem;
    --fs-h3: 1.5rem;
    --fs-body: 0.8rem;
}
.foot{
  font-size: var(--fs-body);
}
h1,
h2,
h3{
  line-height:1.1;
  margin:0
}

}