*,
*::before,
*::after{
    box-sizing:border-box;
}
:root {
    --ff-primary:"Open Sans";
    --ff-secondary:"Raleway";

    --fw-reg:300;
    --fw-bold: 900;
    
    --clr-light: #f8f9fa;
    --clr-dark:#212529;
    --clr-accentdark: #343a40;
    --clr-accentmed: #495057;
    --clr-accent: #6c757d;
    --clr-accentlight: #adb5bd;

    --fs-h1: 5rem;
    --fs-h2: 2.7em;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}
html{
  height: 100%;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

#rectangle{
  width:100%;
  height:5vh;
  background:var(--clr-accentlight);
}
.title{
  text-align:center;
  color:var(--clr-dark);
  font: 55px Montserrat;
}
.tab {
  background-color: var(--clr-dark);
  overflow: hidden;
  outline: none;
  width:100%;

}

/* Style the links inside the navigation bar */
.tab button {
  background-color: inherit;
  color: var(--clr-light);
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
  font: 15px Montserrat;
  display:inline-block;    
  width:33%;
  

}

/* Change the color of links on hover */
.tab button:hover {
  background-color: var(--clr-accentmed);
  color: var(--clr-light);
  outline: none;
}


/* Add a color to the active/current link */
.tab button.active {
  background-color: var(--clr-accentlight);
  color: var(--clr-dark);
  outline: none;
}
.masonry { /* Masonry container */
  -webkit-column-count: 4;
-moz-column-count:4;
column-count: 4;
-webkit-column-gap: 1em;
-moz-column-gap: 1em;
column-gap: 1em;
 margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
  margin-left:18%;
}
.item {
  display: inline-block;
  background: rgba(255, 255, 255, 0.715);
  color: var(--clr-dark);
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 rgba(204, 204, 204, 0.776);
  font:  Montserrat;
}
.item img{max-width:100%;}
.item:hover{
  background-color:var(--clr-accentlight);
  transition: var(--transition-speed);
}

a {
  color: var(--clr-dark);
  text-decoration: none;
}
a:hover {
  color: var(--clr-accentdark);
}
.foot{
  width:100%;
  text-align: center;
  padding: 3px;
  color: var(--clr-dark);
  display: block;
}
.footerEl{
  padding:1rem
}
@media (min-width: 800px){
    :root{
        --fs-h1: 4rem;
        --fs-h2: 2.2rem;
        --fs-h3: 1.2rem;
        --fs-body: 1.125rem;
    }
    .foot{
      font-size: var(--fs-body);
    }
    .aboutme{
      float: center;
      overflow: hidden;
    }
    .picture{
      max-width: 35%;
      height: auto;
      float:left;
      padding:1rem;
    }
    .aboutmeparagraph{
      display:inline;
      float:middle;
      width:60%;
      font-size:var(--fs-body);
      color: var(--clr-dark);
      line-height:1.3;
      font: 1.4rem Montserrat;
    }
    h1{
      font-size:var(--fs-h1);
    }
    h2{
      font-size:var(--fs-h2);
    }
    .titles{
      width:40vw;
    }

      
    

 
}
@media only screen and (max-width: 600px) {
  :root{
    --fs-h1: 2.8em;
    --fs-h2: 1.8rem;
    --fs-h3: 1.5rem;
    --fs-body: 0.8rem;
}
.foot{
  font-size: var(--fs-body);
}
h1,
h2,
h3{
  line-height:1.1;
  margin:0
}
h1{
  font-size:var(--fs-h1);
}
h2{
  font-size:var(--fs-h2);
}
.titles{
  width:60vw;
}

  .logo {
    display: none;
  }

  main {
    margin: 0;
  }
  .picture{
    max-width: 50vw;
    margin-left:20%;
    height: auto;
    padding:1rem;
  }
  .aboutmeparagraph{
    font-size:var(--fs-body);
    color: var(--clr-dark);
    line-height:1.3;
    font: 1rem Montserrat;
}
.footerEl{
  padding:.3rem
}
.iconLabel{
  display:none;
}
.tab {
  background-color: var(--clr-dark);
  overflow: hidden;
  outline: none;
  width:100%;

}
.tab button {
  background-color: inherit;
  color: var(--clr-light);
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
  font: 15px Montserrat;
  display:inline-block;    
  width:32%;
}
.masonry { /* Masonry container */
  -webkit-column-count: 2;
-moz-column-count:2;
column-count: 2;
-webkit-column-gap: 1em;
-moz-column-gap: 1em;
column-gap: 1em;
 margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}
.item {
  display: inline-block;
  background: rgba(255, 255, 255, 0.715);
  color: var(--clr-dark);
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 rgba(204, 204, 204, 0.776);
  font:  Montserrat;
}
}