:root{
	--bgPrimary: #FFF1E6;
	--fontColorPrimary: #463F3A;
	--fontColorHighlight: #BCB8B1;
	--fontColorSecondary: #63262E;
	--font: "Montserrat"
}
body{
	background-color: var(--bgPrimary);
	font-family: var(--font), sans-serif;
	color: var(--fontColorPrimary);
	padding:3rem;
	padding-right:4rem;
	padding-left:4rem;
}
header{
	display: flex;
  	justify-content: space-between;
	padding-bottom:1rem;
}

ul{
	list-style-type: none;
}
.abMeList{
	list-style-type:square;

}
.b{
	padding:1rem;
}

h1{
	font-size:1.2rem;
	font-weight: normal;
}
.greeting{
	font-size:1.5rem;

}
h2{
	font-size:1.1rem;
	font-weight: normal;
	margin-right:1rem
}
i{
	padding-right:3rem;
}
p{
	font-size:1.2rem;
}
body {margin: 0; height: 100%; overflow: hidden}
.vertical-scroll-progress-container {	
	margin-top:16rem;
  	width: 28rem;
  	height: 2px;
  	background:var(--fontColorHighlight);
  	transform: rotate(90deg);
	position:fixed; 
	left:-9rem;
}
.scroll-progress-bar {
  height: 2px;
  background: var(--fontColorSecondary);
  width: 0%;
}
.projectTimeline{
	display:flex
}
.projectList{
	display:flex;
	width:60%;
	 flex-direction:column;
}
.projectItem{
	margin-bottom:3.4rem;
}
.projectNum{
	font-size:0.6rem;
}
.projectName{
	padding-left:1rem;
	display:inline;
	font-size:1.3rem
}
.projectRole{
	display:inline;
	font-size:0.7rem
}
.projectList :hover{
	text-shadow: 2px 2px 5px var(--fontColorHighlight);
}
.gallery {
  columns: 2 20rem;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  margin-right:3rem;
}
.p1gallery, .p2gallery{
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: none;
    width: 100%;
    border-radius: 5px;
    transition: all .25s ease-in-out;
    }
    img {
	
      width: 100%;
      transition: all .25s ease-in-out;
      padding:0.5rem
    }
.about{
	width:70%;
	padding-right:7rem;

}
.page{
	padding-right:1rem;
	padding-left:1rem;
	display:flex;
	
}
.aboutMePic{

	width:70%;
	padding-left:15rem;
}
.image{

	width:70%;
	border-radius:130px
}
/* unvisited link */
a:link {
  color:var(--fontColorPrimary);
  text-decoration: none;
}

/* visited link */
a:visited {
  color:var(--fontColorPrimary);
  text-decoration: none;

}

/* mouse over link */
a:hover {
  color: var(--fontColorSecondary);
}
